.venv/
.env

__pycache__/
*.pyc

dataset/raw/
dataset/processed/
dataset/spectrograms/
dataset/vae_spectrograms/

models/checkpoints/
models/communication_checkpoints/
models/vae_checkpoints/

outputs/
*.wav
*.mp3

.idea/
.vscode/